*{
  padding: 0;
  margin: 0 auto;
  font-family: 'Times New Roman', Times, serif;
}

main{
  padding: 20px;
  margin: 0;
  height: 81vh;
  width: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #3b746c;
}

::-webkit-scrollbar-thumb {
  background:#61A49B; 
}

/* Pagina */

header {
  background-color: #61A49B; 
  padding: 10px 0px 10px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 10vh;
    margin: 0 auto;
    padding: 0;
  }

  .esquerda{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .logo {
    width: 10%;
    height: auto;
    border-radius: 100%;
    margin: 0;
  }

  .logo:hover{
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
  }
  .nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-item {
    background-color: transparent;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .nav-item:hover{
    background-color: #3b746c;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-list {
      flex-direction: column;
      margin-top: 10px;
    }
  
    .nav-item {
      margin-left: 0;
      margin-bottom: 10px;
      padding: 10px 15px;
    }
  
    .logo {
      height: 50px;
    }
  }

/* home */

/* .fundo{
  background-color: aliceblue;
} */

/* .home{
  width: 100%;
  height: 100%;
  
  background-color: #6BAB90;
  border-radius: 50px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto; 
  
} */

.introducao{
  width: 100%;
  height: 100%;

  background-color: #3b746c;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; 
  line-height: 1.6;

}

.sobre{
  width: 100%;
  height: 100%;

  background-color: #3b746c;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto; 
  line-height: 1.6;
}

.sobre h2 {
  font-size: 1.5rem;
  margin-top: 10px; 
}

.sobre p {
  font-size: 1rem;
  margin-bottom: 20px; 
}

p{
  text-indent: 20px;
  width: 80%;
  padding-bottom: 10px;
  text-align: justify; 
}

.desenvolvimento{
  width: 100%;
  height: 100%;

  background-color: #3b746c;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto; 
  line-height: 1.6;
}

/* Livro */
.livro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  gap: 20px; 
}

.informacaoLivro {
  width: 25%;
  background-color: #3b746c;
  border-radius: 25px;
  box-shadow: 8px 8px 12px 5px rgba(0, 0, 0, 0.2);

  padding: 20px;
  margin: 1%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: auto; 
}

.sobreLivro {
  width: 70%;
  padding: 20px;
  background-color: #3b746c;
  border-radius: 25px;
  box-shadow: 8px 8px 12px 5px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: flex-start; 
  justify-content: flex-start;
  flex-direction: column;
  text-align: justify;
  line-height: 1.6;
  height: auto; 
}

.itensSobre {
  line-height: 1.6;
  text-align: justify;
}

.img {
  width: 60%;
  height: auto; 
  margin-bottom: 3%;
  margin-top: 5%;
  border-radius: 22px;
}

.itensLivro {
  margin-bottom: 3%;
  text-align: justify;
  text-indent: 0; 
}


/* Autor */

.containerAutor {
  width: 100%;
  display: flex;
  align-items: flex-start; 
  flex-direction: row;
  gap: 20px; 
}

.infoAutor {
  width: 25%;
  background-color: #3b746c;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  text-align: left;
  padding: 20px;
}

.autor {
  margin: 3%;
  width: 60%;
  height: auto; 
}

.biografiaAutor {
  width: 70%;
  border-radius: 25px;
  background-color: #3b746c;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  line-height: 1.6;
  padding: 20px;
}

.infoAutor h2{
  text-align: center;
  margin-bottom: 5%;
}

.infoAutor h3{
  width: 55%;
  text-align: left;
}

/* Personagens */

.conteinerPerson{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 85%;
  height: auto;
  gap: 20px;
}
.itemPerson{
  background-color: #3b746c;
  padding: 20px;
  border-radius: 25px;

  text-align: justify;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}

.imgIlus{
  width: 100%;
  height: auto;
  border-radius:25px 25px 0px 0px ;
}
/* Professora */

.conteinerProf{
  width: 100%;
  height: auto;

  display: flex;
  justify-content: flex-start ;
  align-items: center; 
  flex-direction: row;
  gap: 20px;
}

.iconLeft{
  float: left; 
  width:60%;
  display: flex;
}

.professora{
  width: 25%;
  background-color: #3b746c;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  text-align: left;
  padding: 20px;
}

.professora h3{
  font-family:cursive ;
  font-size: larger;

  text-align: center;
  color: aliceblue;
}
.professora h2{
  font-family:cursive ;
  font-size: larger;
  
  text-align: center;
  color: aliceblue;
}
.professora p {
  text-indent: 0;
  color: aliceblue;
}

.icon{
  width: 8%;
  height: auto;

}

.profImg{
    margin: 3%;
    width: 60%;
    height: auto; 
    border-radius: 25px 0px 25px 0px;
}

.origemPortugues{
  width: 70%;
  border-radius: 25px;
  background-color: #3b746c;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  line-height: 1.6;
  padding: 20px;
}

/* Utfpr */

.imgUtfpr{
  width: 60%;
}
